.l_wrapper {
    height: 100vh;
    width: 100%;
    background-color: red;
    margin: auto;
}
.l_header {
    height: 90vh;
    width: 100%;
    background: blue;
}
.l_container {
    height: 50vh;
    width: 100%;
    background: green;
}
.l_section1 {
    height: 2170px;
    width: 100%;
    background: darkblue;
}

.l_section1__up {
    height: 1900px;
    width: 100%;
    background-color: #F0EFEC;
}

.l_retirement {
    height: 100px;
    width: 100%;
    background-color:#008767 ;
}