@font-face {
    font-family: "DIN Bold";
    font-weight: bold;
    src: url("../font/DIN-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RyoGothicPlusN-Bold";
    src: url("../font/RyoGothicPlusN-Bold.otf") format("opentype");
}

@font-face {
    font-family: "RyoGothicPlusN-Medium";
    src: url("../font/RyoGothicPlusN-Medium.otf") format("opentype");
}

@font-face {
    font-family: "RyoGothicPlusN-Reegular";
    src: url("../font/RyoGothicPlusN-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Yu Gothic Medium';
    src: url('../font/Yu Gothic Medium.otf') format('opentype');
}

/*Common Styles*/
body {
    color: #000000;
    font-family: "りょうゴシック PlusN", "RyoGothicPlusN-Reegular", "Noto Serif", "Arial", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

* {
    font-family: "りょうゴシック PlusN", "RyoGothicPlusN-Reegular", "Noto Serif", "Arial", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

.lazy-load {
    background-color: #cccccc;
}

.sp-item {
    display: block !important
}
@media screen and (min-width: 768px) {
    .sp-item {
        display: none !important
    }
}

.pc-item {
    display: none !important
}

@media screen and (min-width: 768px) {
    .pc-item {
        display: block !important
    }
}

.active {
    display: block!important;
}
.inactive {
    display: none;
}
/* .wrapper
----------------------------------------------------------  */

.wrapper {
    font-size: 16px;
    font-size: 4.262857143vw;
    position: relative;
    overflow: hidden;
    padding-bottom: 214px;
    padding-bottom: 28.53333333vw;
}

@media screen and (min-width: 768px) {
    .wrapper {
        font-size: 20px;
        max-width: 1600px;
        margin: 0 auto;
        padding-bottom: 120px;
    }
}

/*--------------------------------------------------------
/.wrapper */

/* .header
----------------------------------------------------------  */

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1000px;
    height: 100px;
    height: 13.33333333vw;
    margin: 0 auto;
    padding-left: 30px;
    padding-left: 4vw;
    padding-right: 30px;
    padding-right: 4vw;
}

.header a, .header h1 {
    height: 48px;
    height: 6.4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header img {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 1000px;
        height: 100px;
        margin: 0 auto;
    }

    .header a, .header h1 {
        height: 34.307px;
        width: 129.023px;
    }
}

/*--------------------------------------------------------
/.header */

/* .container
----------------------------------------------------------  */

.container {
    padding-left: 40px;
    padding-left: 5.334vw;
    padding-right: 40px;
    padding-right: 5.334vw;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1000px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*--------------------------------------------------------
/.container */

.orange {
    color: #f47f00;
}

p {
    margin: 0;
}

h2 {
    margin: 0px;
}

hr {
    border-bottom: 0px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: auto;
    display: flex;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0;
}

.retire-fund-reason-header {
    background-color: #26997e;
    margin-top: 50px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.retire-fund-reason-header h1 {
    padding-top: 50px;
    margin: auto;
    text-align: center;
    color: white;
    height: 80px;
}

/* Copy Right */
.copy-right {
    padding: 58px 0;
    padding: 7.733333333vw 0;
    width: 100%;
    background-color: #eeeeee;
}

.copy-right__txt {
    font-family: 'Arial';
    font-size: 20px;
    font-size: 2.666666667vw;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .copy-right {
        padding: 37px 0;
        width: 100%;
        background-color: #eeeeee;
        max-width: 1000px;
        margin: 0 auto;
    }

    .copy-right__txt {
        font-family: 'Arial';
        font-size: 12px;
        text-align: center;
    }
}

/* Footer */
.footer-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 99;
}

.show,
.footer-nav:hover {
    display: block;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.img-width {
    width: 100%;
}

/* cover section */
.hero-img {
    position: relative;
    width: 100%;
    height: auto;
}

.table_sp {
    display: none;
}

.col-2 {
    margin-top: 60px;
}

.col-10 {
    margin-top: 28px;
    margin-top: 3.733333333vw;
}

@media screen and (min-width: 768px) {
    .point-text {
        margin-left: 0px !important;
    }

    .insurance {
        text-align: start;
        height: 14px;
    }

    .retire-fund-reason {
        position: absolute;
        left: 0;
        right: 0;
    }

    .asset-mng__content .img-card-pc {
        display: none;
    }

    .asset-mng__content .img-card-sp {
        display: block;
    }

    .navigation {
        width: 90%;
    }
}

.stroke-text {
    -webkit-text-stroke: 5px black;
    -webkit-text-fill-color: transparent;
}

/*Hero*/
.mv {
    width: 100%;
    margin: auto;
    padding-top: 69px;
    padding-top: 9.067vw;
}

.mv-img-pc {
    display: none;
}

.mv-img-sp {
    display: block !important;
    position: absolute;
    z-index: -1;
}

.mv-img__card {
    background-color: white;
    position: relative;
    border: 1px solid lightgrey;
    opacity: 0.985;
}

.indtroduction_one {
    font-family: "RyoGothicPlusN-Reegular";
    font-size: 30px;
    font-size: 4vw;
    color: #2B4A7E;
    text-shadow: 1px 0 0 #D5E2DB, 0 1px 0 #D5E2DB, -1px 0 0 #D5E2DB, 0 -1px 0 #D5E2DB;
}

.indtroduction_two {
    font-family: "RyoGothicPlusN-Medium";
    font-size: 69px;
    font-size: 9.2vw;
    line-height: 16vw;
    color: #2B4A7E;
    text-shadow: 1px 0 0 #D5E2DB, 0 1px 0 #D5E2DB, -1px 0 0 #D5E2DB, 0 -1px 0 #D5E2DB;
}

.indtroduction_three {
    font-family: "RyoGothicPlusN-Bold";
    font-size: 80px;
    font-size: 10.667vw;
    line-height: 10vw;
    color: #2B4A7E;
    text-shadow: 1px 0 0 #D5E2DB, 0 1px 0 #D5E2DB, -1px 0 0 #D5E2DB, 0 -1px 0 #D5E2DB;

}

.indtroduction_four {
    font-family: "RyoGothicPlusN-Bold";
    font-size: 38px;
    font-size: 5.067vw;
    line-height: 8vw;
    color: #2B4A7E;
    position: relative;
    left: -2.933333333vw;
    text-shadow: 1px 0 0 #D5E2DB, 0 1px 0 #D5E2DB, -1px 0 0 #D5E2DB, 0 -1px 0 #D5E2DB;
}

@media screen and (min-width: 768px) {
    .mv {
        width: 100%;
        padding-top: 80px;
    }

    .mv-img-pc {
        display: block !important;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 440px;
        object-fit: cover;
        object-position: 66% 50%;
    }

    .mv-img-sp {
        display: none !important;
    }

    .indtroduction_one {
        font-family: "RyoGothicPlusN-Reegular";
        font-size: 24px;
        line-height: 36px;
        text-shadow: unset;
    }

    .indtroduction_two {
        font-family: "RyoGothicPlusN-Medium";
        font-size: 69px;
        line-height: 79px;
        text-shadow: unset;
    }

    .indtroduction_three {
        font-family: "RyoGothicPlusN-Bold";
        font-size: 80px;
        line-height: 90px;
        text-shadow: unset;
    }

    .indtroduction_four {
        font-family: "RyoGothicPlusN-Bold";
        font-size: 38px;
        line-height: 48px;
        text-shadow: unset;
        left: -25px;
    }
}

/*@media (min-width: 751px) and (max-width: 1599px) {*/
/*    .mv-img-sp {*/
/*        display: block !important;*/
/*        position: absolute;*/
/*        z-index: -1;*/
/*        width: 100%;*/
/*        height: 440px;*/
/*        object-fit: cover;*/
/*        object-position: top;*/
/*    }*/

/*    .mv-img-pc {*/
/*        display: none !important;*/
/*    }*/
/*}*/

/*Card*/
.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    max-width: 626px;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 28px;
    padding: 3.733333333vw;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    margin-bottom: 4vw;
}

.card:last-child {
    margin-bottom: 0;
}

.card-title {
    background-color: #f47f00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-radius: 1.333333333vw;
    color: white;
    text-align: center;
    opacity: 1;
    width: 60px;
    width: 8vw;
    min-width: 8vw;
    height: 60px;
    height: 8vw;
    align-items: center;
    margin-right: 10px;
    margin-right: 1.333333333vw;
}

.card-title .point-text {
    font-family: "DIN Bold";
    font-size: 14.4px;
    font-size: 1.92vw;
    color: #ffffff;
}

.card-title .card-num {
    font-family: "DIN Bold";
    font-size: 28.8px;
    font-size: 3.84vw;
    color: #ffffff;
}

.card-content {
    font-family: "RyoGothicPlusN-Medium";
    font-size: 23px;
    font-size: 2.8vw;
    line-height: 4.267vw;
    color: #2b4a7e;
}

@media screen and (min-width: 768px) {
    .card-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row;
        max-width: 1000px;
        position: relative;
        background: rgba(255, 255, 255, 0.9);
        padding: 28px;
        margin-top: 60px;
        box-shadow: 2px 0 2px #00000020;
    }
    .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: column;
        margin-bottom: 0;
        width: 33.33333333%;
        padding: 5px;
    }

    .card:last-child {
        margin-bottom: 0;
    }

    .card-title {
        background-color: #f47f00;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
        text-align: center;
        opacity: 1;
        width: 100%;
        min-width: 8vw;
        height: 40px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .card-title .point-text {
        font-family: "DIN Bold";
        font-size: 14.4px;
        color: #ffffff;
        margin-right: 5px;
    }

    .card-title .card-num {
        font-family: "DIN Bold";
        font-size: 26px;
        color: #ffffff;
    }

    .card-content {
        font-family: "RyoGothicPlusN-Medium";
        font-size: 11px;
        line-height: 20px;
        color: #2b4a7e;
    }
}
@media screen and (min-width: 1030px) {
    .card-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row;
        max-width: 1000px;
        position: relative;
        background: rgba(255, 255, 255, 0.9);
        padding: 28px;
        margin-top: 60px;
        box-shadow: 2px 0 2px #00000020;
    }

    .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: column;
        margin-bottom: 0;
        width: 33.33333333%;
        padding: 5px;
    }

    .card:last-child {
        margin-bottom: 0;
    }

    .card-title {
        background-color: #f47f00;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
        text-align: center;
        opacity: 1;
        width: 100%;
        min-width: 8vw;
        height: 40px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .card-title .point-text {
        font-family: "DIN Bold";
        font-size: 14.4px;
        color: #ffffff;
        margin-right: 5px;
    }

    .card-title .card-num {
        font-family: "DIN Bold";
        font-size: 26px;
        color: #ffffff;
    }

    .card-content {
        font-family: "RyoGothicPlusN-Medium";
        font-size: 16px;
        line-height: 25px;
        color: #2b4a7e;
    }
}


/* Insurance */
.insurance {
    font-family: 'RyoGothicPlusN-Medium';
    margin-top: 100px;
    margin-top: 13.334vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insurance__img__sp {
    display: block;
    margin-top: 45px;
    margin-top: 6vw;
    margin-bottom: 45px;
    margin-bottom: 6vw;
    margin-left: auto;
    margin-right: auto;
    width: 98.508%;
}

.insurance__img__pc {
    display: none !important;
}

.insurance__text {
    color: #008767;
    font-size: 24px;
    font-size: 3.2vw;
    line-height: 36px;
    line-height: 5.8vw;
    text-align: left;
}

.insurance__text::before {
    background-image: url(../../assets/img/arrow-down-green.png);
    background-size: 15px 15px;
    background-size: 2vw 2vw;
    display: inline-block;
    width: 15px;
    width: 2vw;
    height: 15px;
    height: 2vw;
    content: '';
}

.yellow-underline {
    color: inherit;
    position: relative;
    z-index: 1;
}
.yellow-underline:after {
    background-color: #FFE77A;
    content: '';
    height: 20%;
    position: absolute;
    left: 0;
    top: 74%;
    width: 100%;
    z-index: -1;
}

.old-planning {
    background-color: #F0EFEC;
    text-align: center;
    padding: 37.5px;
    padding: 5vw;
    border-radius: 10px;
    border-radius: 1.333333333vw;
    margin-bottom: 48px;
    margin-bottom: 6.4vw;
}

.old-planning > .title {
    font-family: 'RyoGothicPlusN-Bold';
    font-weight: bold;
    font-size: 42px;
    font-size: 5.4vw;
    line-height: 8vw;
    color: #008767;
    margin-bottom: 45px;
    margin-bottom: 6vw;
}

.old-planning > .description {
    font-family: 'Yu Gothic Medium';
    font-size: 30px;
    font-size: 4vw;
    line-height: 45px;
    line-height: 6vw;
    margin-bottom: 45px;
    margin-bottom: 6vw;
}

.old-planning__box {
    border: 2px solid #c3bfb3;
    border: 0.266666667vw solid #c3bfb3;
    border-radius: 10px;
    border-radius: 1.333333333vw;
    background-color: #ffffff;
    padding: 30px;
    padding: 4vw;
    margin-bottom: 40px;
    margin-bottom: 5.333333333vw;
}

.old-planning__box > .title {
    font-family: 'Yu Gothic Medium';
    font-size: 28px;
    font-size: 3.733333333vw;
    text-align: center;
    margin-bottom: 28px;
    margin-bottom: 3.733333333vw;
    font-weight: bold;
}

.old-planning__box > .description {
    font-family: 'Yu Gothic Medium';
    font-size: 24px;
    font-size: 3.2vw;
    text-align: left;
    line-height: 42px;
    line-height: 5.4vw;
}

.old-planning__card {
    background-color: #ffffff;
    padding: 58px 30px;
    padding: 7.733333333vw 4vw;
    border-radius: 10px;
    border-radius: 1.333333333vw;
}

.old-planning__img {
    background-color: #ffffff;
    width: 100%;
    text-align: start;
}

.old-planning__text {
    font-family: 'Yu Gothic Medium';
    text-align: left;
    font-size: 20px;
    font-size: 2.666666667vw;
    line-height: 27px;
    line-height: 3.6vw;
    color: #666666;
    margin-top: 40px;
    margin-top: 5.333333333vw;
}
@media screen and (min-width: 768px) {
    .old-planning > .title {
        font-size: 30px;
    }
    .old-planning > .description {
        font-size: 3vw;
    }
}
@media screen and (min-width: 956px) {
    .insurance {
        font-family: 'RyoGothicPlusN-Medium';
        margin-top: 50px;
        text-align: center;
    }
    .insurance__img__pc {
        display: block !important;
        margin-top: 45px;
        margin-bottom: 45px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .insurance__img__sp {
        display: none !important;
    }

    .insurance__text {
        color: #008767;
        font-size: 14px;
        text-align: center;
    }

    .insurance__text::before {
        background-image: url(../../assets/img/arrow-down-green.png);
        background-size: 15px 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
        content: '';
    }

    .highlight-text {
        text-decoration-color: #FFE77A;
        text-decoration-thickness: 10px;
    }

    .old-planning {
        background-color: #F0EFEC;
        text-align: center;
        padding: 50px;
        border-radius: 10px;
        margin-bottom: 48px;
    }

    .old-planning > .title {
        font-family: 'RyoGothicPlusN-Bold';
        font-size: 42px;
        line-height: 62px;
        color: #008767;
        margin-bottom: 30px;
    }

    .old-planning > .description {
        font-family: 'Yu Gothic Medium';
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 45px;
    }

    .old-planning__box {
        border: 2px solid #c3bfb3;
        border-radius: 10px;
        background-color: #ffffff;
        padding: 30px;
        margin-bottom: 40px;
    }

    .old-planning__box > .title {
        font-family: 'Yu Gothic Medium';
        font-weight: bold;
        font-size: 26px;
        text-align: center;
        margin-bottom: 28px;
    }

    .old-planning__box > .description {
        font-family: 'Yu Gothic Medium';
        font-size: 20px;
        text-align: left;
        line-height: 35px;
    }

    .old-planning__card {
        background-color: #ffffff;
        padding: 70px 85px;
        border-radius: 10px;
    }

    .old-planning__img {
        background-color: #ffffff;
        width: 100%;
    }

    .old-planning__text {
        font-family: 'Yu Gothic Medium';
        text-align: left;
        font-size: 16px;
        line-height: 28px;
        color: #666666;
        margin-top: 40px;
    }
}

/*Retire fund reason*/
.retire-fund-reason {
    background-color: #008767;
    position: relative;
    height: 160px;
    height: 21.33333333vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retire-fund-reason > .title {
    font-family: 'RyoGothicPlusN-Bold';
    font-weight: bold;
    font-size: 42px;
    font-size: 5.4vw;
    line-height: 62px;
    line-height: 8.266666667vw;
    text-align: center;
    color: #ffffff;
}

.retire-fund-reason > .title.spacial {
    font-size: 37px;
    font-size: 4.933333333vw;
}

@media screen and (min-width: 768px) {
    .retire-fund-reason {
        background-color: #008767;
        background-image: url("../img/bg_sec_ttl_pc.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        height: 130px;
        max-width: 1000px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .retire-fund-reason > .title {
        font-family: 'RyoGothicPlusN-Bold';
        font-weight: bold;
        font-size: 30px;
        line-height: 62px;
        width: 100%;
        text-align: center;
        color: #ffffff;
        display: inline-block;
    }

    .retire-fund-reason > .title.spacial {
        font-size: 30px;
        line-height: 46px;
    }
}

/*Point Section General styles*/
.asset-mng__header {
    background-color: #2B4A7E;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-align: center;
    padding-top: 36px;
    padding-top: 4.8vw;
    padding-bottom: 36px;
    padding-bottom: 4.8vw;
    position: relative;
}

.asset-mng__header > .number {
    font-family: 'DIN Bold';
    font-weight: bold;
    background-color: #ff8080;
    border-radius: 50%;
    width: 115px;
    width: 15.33333333vw;
    height: 115px;
    height: 15.33333333vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(-80%);
    left: 20px;
    left: 2.666666667vw;
    font-size: 42px;
    font-size: 5.6vw;
    border: solid 3px #ffffff;
    border: solid 0.4vw #ffffff;
}

.asset-mng__header > .title {
    font-family: 'Yu Gothic Medium';
    font-size: 34px;
    font-size: 4.533333333vw;
    line-height: 48px;
    line-height: 6.4vw;
}

.asset-mng__content .content-header {
    text-align: center;
    padding: 35px;
    padding: 4.666666667vw;
    margin-top: 50px;
    margin-top: 6.666666667vw;
    background-color: #2B4A7E;
    position: relative;
}

.content-header {
    background-color: #ffffff !important;
    border-bottom: 1px dashed #E1DDD7 !important;
}

.content-header .title {
    font-family: 'Yu Gothic Medium';
    font-size: 30px;
    font-size: 4vw;
    line-height: 42px;
    line-height: 5.6vw;
}

.asset-mng__content {
    background-color: white;
    width: 86.57%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-bottom: 4vw;
}

.asset-mng__content .content-img {
    width: 100%;
    padding: 40px 0;
}

.toggle {
    right: 24px;
    right: 3.2vw;
    position: absolute;
    top: 32%;
    cursor: pointer;
    width: 40px;
    width: 5.333333333vw;
    height: 40px;
    height: 5.333333333vw;
}

.toggle img {
    width: 100%;
}

.asset-mng__content .content {
    padding: 40px 0;
    padding: 5.333333333vw 0;
}

.contract_example {
    display: block;
}

.contract_example-box {
    font-family: 'Yu Gothic Medium';
    height: 60px;
    height: 8vw;
    background-color: #808080;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.asset-mng {
    background-color: #e4eeff;
    margin-top: 90px;
    margin-top: 12vw;
    border-radius: 10px;
    border-radius: 1.333333333vw;
    position: relative;
    padding-bottom: 40px;
    padding-bottom: 5.333333333vw;
    margin-bottom: 48px;
    margin-bottom: 6.4vw;
}

.listing-text {
    font-family: 'Yu Gothic Medium';
    text-align: left;
    font-size: 21px;
    font-size: 2.8vw;
    line-height: 32px;
    line-height: 4.266666667vw;
    margin-top: 28px;
    margin-top: 3.733333333vw;
}

.content .title {
    font-family: 'Yu Gothic Medium';
    font-size: 30px;
    font-size: 4vw;
    line-height: 42px;
    line-height: 5.6vw;
    margin-top: 40px;
    margin-top: 5.333333333vw;
    text-align: center;
}

.table_pc {
    display: none;
    padding-top: 20px;
    padding-top: 2.666666667vw;
}

.table_sp {
    display: block;
}

.content img {
    padding: 40px 0;
    padding: 5.333333333vw 0;
    width: 100%;
}

.asset-mng__content__txt {
    font-family: "Yu Gothic Medium";
    font-size: 24px;
    font-size: 3.2vw;
    line-height: 42px;
    line-height: 5.6vw;
    text-align: center;
    width: 100%;
    padding: 48px 0;
    padding: 6.4vw 0;
    background-color: #E4EEFF;
}

.benefit3_top {
    margin-top: 50px;
    margin-top: 6.666666667vw;
}
@media screen and (min-width: 768px) {
    .asset-mng__header {
        background-color: #2B4A7E;
        border-radius: 10px 10px 0 0;
        color: #fff;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 36px;
        position: relative;
    }

    .asset-mng__header > .number {
        font-family: 'DIN Bold';
        font-weight: bold;
        background-color: #ff8080;
        border-radius: 50%;
        width: 96px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: translateY(-85%);
        left: 20px;
        font-size: 36px;
        border: solid 3px #ffffff;
    }

    .asset-mng__header > .title {
        font-family: 'Yu Gothic Medium';
        font-size: 34px;
        line-height: 48px;
        padding: 0 125px;
    }

    .asset-mng__content .content-header {
        text-align: center;
        padding: 35px;
        margin-top: 50px;
        background-color: #2B4A7E;
        position: relative;
        cursor: pointer;
    }

    .content-header {
        background-color: #ffffff !important;
        border-bottom: 1px dashed #E1DDD7 !important;
    }

    .content-header .title {
        font-family: 'Yu Gothic Medium';
        font-size: 30px;
        line-height: 42px;
    }

    .asset-mng__content {
        background-color: white;
        width: 91%;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .asset-mng__content .content-img {
        width: 100%;
        padding: 40px 0;
    }

    .toggle {
        right: 24px;
        position: absolute;
        top: 32%;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    .toggle img {
        width: 100%;
    }

    .asset-mng__content .content {
        padding: 40px 0;
    }

    .contract_example {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .contract_example-box {
        font-family: 'Yu Gothic Medium';
        font-size: 18px;
        height: 60px;
        background-color: #808080;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        width: 79%;
        min-width: 210px;
    }

    .asset-mng {
        background-color: #e4eeff;
        margin-top: 90px;
        border-radius: 10px;
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 48px
    }

    .listing-text {
        font-family: 'Yu Gothic Medium';
        text-align: left;
        font-size: 12px;
        line-height: 20px;
        margin: 0;
        padding-left: 20px;
    }

    .content .title {
        font-family: 'Yu Gothic Medium';
        font-size: 18px;
        line-height: 25px;
        margin-top: 40px;
        text-align: center;
    }

    .table_pc {
        display: none;
        padding-top: 20px;
    }

    .table_sp {
        display: block;
    }

    .content img {
        padding: 40px 0;
        width: 100%;
    }
    .benefit3_top {
        margin-top: 50px;
    }
    .asset-mng__content__txt {
        font-family: "Yu Gothic Medium";
        font-size: 22px;
        font-size: 2vw;
        line-height: 42px;
        text-align: center;
        width: 100%;
        padding: 48px 0;
        background-color: #E4EEFF;
    }
}
@media screen and (min-width: 1070px) {
    .asset-mng__header {
        background-color: #2B4A7E;
        border-radius: 10px 10px 0 0;
        color: #fff;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 36px;
        position: relative;
        font-family: 'Noto Sans';
    }

    .asset-mng__header > .number {
        font-family: 'DIN Bold';
        font-weight: bold;
        background-color: #ff8080;
        border-radius: 50%;
        width: 96px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: translateY(-85%);
        left: 20px;
        font-size: 36px;
        border: solid 3px #ffffff;
    }

    .asset-mng__header > .title {
        font-family: 'Yu Gothic Medium';
        font-size: 34px;
        line-height: 48px;
        padding: 0 125px;
    }

    .asset-mng__content .content-header {
        text-align: center;
        padding: 35px;
        margin-top: 50px;
        background-color: #2B4A7E;
        position: relative;
        cursor: pointer;
    }

    .content-header {
        background-color: #ffffff !important;
        border-bottom: 1px dashed #E1DDD7 !important;
    }

    .content-header .title {
        font-family: 'Yu Gothic Medium';
        font-size: 30px;
        line-height: 42px;
    }

    .asset-mng__content {
        background-color: white;
        width: 91%;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .asset-mng__content .content-img {
        width: 100%;
        padding: 40px 0;
    }

    .toggle {
        right: 24px;
        position: absolute;
        top: 32%;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    .toggle img {
        width: 100%;
    }

    .asset-mng__content .content {
        padding: 40px 0;
    }

    .contract_example {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .contract_example-box {
        font-family: 'Yu Gothic Medium';
        font-size: 18px;
        height: 60px;
        background-color: #808080;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        width: 79%;
        min-width: 210px;
    }

    .asset-mng {
        background-color: #e4eeff;
        margin-top: 90px;
        border-radius: 10px;
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 48px
    }

    .listing-text {
        font-family: 'Yu Gothic Medium';
        text-align: left;
        font-size: 12px;
        line-height: 20px;
        margin: 0;
        padding-left: 20px;
    }

    .content .title {
        font-family: 'Yu Gothic Medium';
        font-size: 18px;
        line-height: 25px;
        margin-top: 40px;
        text-align: center;
    }

    .table_pc {
        display: none;
        padding-top: 20px;
    }

    .table_sp {
        display: block;
    }

    .content img {
        padding: 40px 0;
        width: 100%;
    }

    .asset-mng__content__txt {
        font-family: "Yu Gothic Medium";
        font-size: 24px;
        line-height: 42px;
        text-align: center;
        width: 100%;
        padding: 48px 0;
        background-color: #E4EEFF;
    }

    .benefit3_top {
        margin-top: 50px;
    }
}

/*Point 2 Section*/
.content-header > .content-header__txt {
    font-size: 30px;
    font-size: 4vw;
    padding: 0 81px;
}

.asset-mg > .content-header {
    margin-bottom: 29px;
    margin-bottom: 3.866666667vw;
}

.asset-mng > .detail-sp {
    text-align: center;
    font-size: 24px;
    font-size: 2.9vw;
    line-height: 42px;
    line-height: 5.6vw;
    padding-right: 91.9px;
    padding-right: 12.25333333vw;
    padding-left: 94.1px;
    padding-left: 12.54666667vw;
    padding-top: 44px;
    padding-top: 5.866666667vw;
}

.asset-mng > .detail-pc {
    display: none;
!important;
}

@media screen and (min-width: 768px) {
    .asset-mng > .detail-sp {
        display: none;
    !important;
    }

    .asset-mng > . detail-pc {
        display: block;
        font-size: 24px;
    !important;
        line-height: 42px;
    !important;
        text-align: center;
        padding-top: 42px;
        padding-left: 103px;
        padding-right: 105px;
    }
}

/* Asset Management Table */
table, th, td {
    border: 1px solid #7FC2E4;
    border-collapse: collapse;
}
.table-pc {
    display: none;
!important;
}

.table-sp {
    display: table;
    padding: 51px 45px 11px;
    padding: 6.8vw 6vw 1.466666667vw;
    margin-top: 51px;
    margin-top: 6.8vw;
}

.table-sp th {
    background-color: #C6E4F3;
}

.table-sp td:nth-child(1) {
    background-color: #E4F2F9;
    text-align: center;
    width: 35%;
    vertical-align: middle;
}

.table-sp-header {
    position: relative;
    height: 70px;
    height: 9.333333333vw;
    font-size: 26px;
    font-size: 3.466666667vw;
    cursor: pointer
;

}

.table-sp-header__txt {
    font-weight: normal;
    transform: translateY(17px);
    transform: translateY(2.266666667vw);
    font-size: 26px;
    font-size: 3.466666667vw;
    cursor: pointer;
}

.td-txt {
    padding-top: 19px;
    padding-top: 2.533333333vw;
    padding-bottom: 19px;
    padding-bottom: 2.533333333vw;
    padding-left: 19px;
    padding-left: 2.533333333vw;
    font-size: 24px;
    font-size: 3.2vw;
    padding-right: 19px;
    padding-right: 2.533333333vw;
    line-height: 30px;
    line-height: 4vw;
    font-family: 'Yu Gothic Medium';
}

.td-txt .spacial {
    position: relative;
    left: -15px;
    left: -2vw;
    font-size: 22px;
    font-size: 2.933333333vw;
}

.td-title {
    font-size: 22px;
    font-size: 2.933333333vw;
    font-family: 'Yu Gothic Medium';
}

.table-sp-content {
    font-weight: normal;
    padding-top: 15.6px;
    padding-top: 2.08vw;
    margin-bottom: 0px;
    margin-bottom: 0vw;
    padding-bottom: 0px;
    padding-bottom: 0vw;
    font-size: 20px;
    font-size: 2.5vw;
    line-height: 3.6vw;
}

.table-sp-toggle__img {
    width: 40px;
    width: 5.333333333vw;
    height: 40px;
    height: 5.333333333vw;
}

.table-sp-toggle {
    position: absolute;
    right: 10px;
    right: 1.333333333vw;
    top: 16px;
    top: 2.133333333vw;
}

.table-sp-toggle__img {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .table-sp-content {
        display: none;
    !important;
    }

    .table-sp {
        display: none;
    !important;
    }

    .table-pc {
        display: block;
    !important;
        width: 100%;
        padding-bottom: 40px;
        padding-top: 50px;
    }

    .table-img {
        padding: 55px 0;
    }
}

/*Life at Sony Section*/
.life-at-sony__content {
    margin-bottom: 50px;
    margin-bottom: 6.666666667vw;
}

.life-at-sony__content .description {
    font-family: 'Yu Gothic Medium';
    font-size: 30px;
    font-size: 4vw;
    line-height: 52.5px;
    line-height: 7vw;
    margin: 45px 0;
    margin: 6vw 0;
}

.life-at-sony__content .listing {
    font-family: 'Yu Gothic Medium';
    font-size: 30px;
    font-size: 4vw;
    line-height: 44px;
    line-height: 5.866666667vw;
    color: #2B4A7E;
    list-style-type: disc;
    padding-left: 25px;
    padding-left: 3.333333333vw;
}

.life-at-sony__content hr {
    border-top: 1px dashed #8799B6;
    height: 0.5px;
}

@media screen and (min-width: 768px) {
    .life-at-sony__content {
        margin-bottom: 80px;
    }

    .life-at-sony__content .description {
        font-family: 'Yu Gothic Medium';
        font-size: 16px;
        line-height: 26px;
        margin: 40px 0;
    }

    .life-at-sony__content .listing {
        font-family: 'Yu Gothic Medium';
        font-size: 16px;
        line-height: 24px;
        color: #2B4A7E;
        list-style-type: disc;
        padding-left: 15px;
    }

    .life-at-sony__content hr {
        border-top: 1px dashed #8799B6;
        height: 0.5px;
    }
}

/*Choices Section*/
.choices {}
.choice-content {}
.choice-content .title {
    font-family: 'Yu Gothic Medium';
    font-size: 32px;
    font-size: 4.266666667vw;
    line-height: 35px;
    line-height: 4.666666667vw;
    text-align: center;
    font-weight: normal;
    color: #FF900D;
    text-align: center;
    margin-bottom: 12px;
    margin-bottom: 1.6vw;
}
.choice-content .title:after {
    content: '※1';
    font-size: 13px;
    font-size: 1.733333333vw;
    position: absolute;
    transform: translateY(-22%);
}
.choice-content .description {
    font-family: 'Noto Serif';
    text-align: center;
    font-size: 15px;
    font-size: 2vw;
    line-height: 26px;
    line-height: 3.466666667vw;
}
.insurance-choice-sp {
    margin: 48px 0 28px 0;
    margin: 6vw 0 3.733333333vw 0;
}
.insurance-choice-pc, .insurance-choice-sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.insurance-choice__card-sp {
    position: relative;
    width: 50%;
}
.insurance-choice__card-sp:first-child {
    padding-right: 8px;
    padding-right: 1.066666667vw;
}
.insurance-choice__card-sp:last-child {
    padding-left: 8px;
    padding-left: 1.066666667vw;
}
.insurance-choice__img-sp {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-radius: 1.333333333vw;
    object-fit: cover;
    object-position: center;
}
.insurance-choice__txt-block-sp {
    position: absolute;
    bottom: 10px;
    bottom: 1.333333333vw;
    left: 50%;
    text-decoration: none;
    transform: translateX(-50%);
}
.insurance-choice__txt-sp {
    font-family: 'RyoGothicPlusN-Bold';
    position: relative;
    font-size: 27px;
    font-size: 3.6vw;
    line-height: 55px;
    line-height: 7.333333333vw;
    white-space: nowrap;
    color: #ffffff;
    z-index: 1;
}

.insurance-choice__txt-sp:after {
    background-color: rgba(0, 135, 103, 0.9);
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    margin-left: -16px;
    margin-left: -2.133333333vw;
    top: 0;
    width: calc(100% + 32px);
    width: calc(100% + 4.266666667vw);
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .choice-content .title {
        font-family: 'Yu Gothic Medium';
        font-size: 23px;
        line-height: 25px;
        text-align: center;
        font-weight: normal;
        color: #FF900D;
        margin-bottom: 12px;
    }
    .choice-content .title:after {
        content: '※1';
        font-size: 12px;
        position: absolute;
        transform: translateY(-22%);
    }
    .choice-content .description {
        font-family: 'Noto Serif';
        text-align: center;
        font-size: 12px;
        line-height: 26px;
    }
    .insurance-choice-pc {
        margin: 30px 0 15px 0;
    }
    .insurance-choice__card-pc {
        width: 50%;
        text-decoration: none;
    }

    .insurance-choice__card-pc:first-child {
        padding-right: 10px;
    }
    .insurance-choice__card-pc:last-child {
        padding-left: 10px;
    }

    .insurance-choice__card-block-pc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 5px;
        background-color: #F1F1F1;
        border-radius: 8px;
    }

    .insurance-choice__img-pc {
        min-width: 200px;
        height: 108px;
        border-radius: 3px;
        object-fit: cover;
        object-position: center;
    }

    .insurance-choice__txt-block-pc {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .insurance-choice__txt-pc {
        display: inline;
        font-size: 21px;
        line-height: 25px;
        color: #008767;
    }
}

/* Point 3*/
.sec-3-content {
    padding-top: 36px;
    padding-top: 4.8vw;
}

.sec-3-content__txt {
    font-size: 28px;
    font-size: 3.733333333vw;
    line-height: 41px;
    line-height: 5.4vw;
    text-align: center;

}

.sec-3-content__num {
    font-size: 44px;
    font-size: 5.866666667vw;
    line-height: 77px;
    line-height: 10vw;
    text-align: center;
    color: red;
}

.sec-3__detail-1 {
    font-size: 18px;
    font-size: 2.3vw;
    line-height: 38px;
    line-height: 5vw;
    padding: 25px 25px 25px 30px;
    padding: 3.333333333vw 3.333333333vw 3.333333333vw 4vw;
    background-color: #EAEAEA;
    text-align: left;
    margin-top: 26px;
    margin-top: 3.4vw;
}

.sec-3__detail-1 > .big-txt {
    font-size: 16px;
    font-size: 2.5vw;
}

.sec-3__detail-2 {
    color: #666666;
    text-align: left;
    font-size: 18px;
    font-size: 2.3vw;
    margin-top: 25px;
    margin-top: 3.3vw;
    line-height: 31px;
    line-height: 4vw;
    padding-bottom: 22px;
    padding-bottom: 3vw;
    padding-top: 25px;
    padding-top: 3vw;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .sec-3-content {
        padding-top: 36px;
    }

    .sec-3-col__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .sec-3-col-1 {
        width: 50%;
    }

    .sec-3-col-2 {
        width: 50%;
    }

    .sec-3-content__txt {
        font-size: 24px;
        line-height: 42px;
    }

    .sec-3-content__num {
        font-size: 44px;
        line-height: 77px;
    }

    .sec-3__detail-1 {
        font-family: 'Yu Gothic Medium';
        font-size: 14px;
        line-height: 28px;
        margin-top: 0;
        padding: 27px 26px 27px 30px;
    }

    .sec-3__detail-1 > .big-txt {
        font-size: 16px;
        line-height: 28px;
    }

    .sec-3__detail-2 {
        font-size: 14px;
        line-height: 24px;
        font-family: 'Yu Gothic Medium';
        padding-top: 0;
    }
}


/* Consultation Flow Section */

.consult-flow {
    background-color: #F0EFEC;
    margin-top: 45px;
    margin-top: 6vw;
    border-radius: 10px;
    border-radius: 1.3vw;
    position: relative;
    /*padding-bottom: 40px;*/
    /*padding-bottom: 5.3vw;*/
    margin-bottom: 40px;
    margin-bottom: 5.3vw
}

.consult-flow__header {
    position: relative;
    background-color: #26997E;
    border-radius: 10px 10px 0 0;
    border-radius: 1.3vw 1.3vw 0 0;
    color: #fff;
    text-align: center;
    padding-top: 36px;
    padding-top: 4.8vw;
    padding-bottom: 36px;
    padding-bottom: 4.8vw;
    position: relative;
    font-size: 34px;
    font-size: 4.5vw;
    font-family: "RyoGothicPlusN-Medium";
    line-height: 40px;
    line-height: 5vw;
}

.consult-flow__header:after {
    content: " ";
    position: absolute;
    bottom: -13px;
    bottom: -1.733333333vw;
    border-top: 15px solid #26997E;
    border-top: 2vw solid #26997E;
    border-right: 15px solid transparent;
    border-right: 2vw solid transparent;
    border-left: 15px solid transparent;
    border-left: 2vw solid transparent;
    border-bottom: none;
}

.consult-flow__header > .txt-big {
    font-size: 44px;
    font-size: 5.8vw;
    line-height: 61px;
    line-height: 8vw;
}

.consult-flow__header > .header-img {
    position: absolute;
    top: 59px;
    top: 13.8vw;
    right: 17px;
    right: 6.2vw;
    width: 20px;
    width: 3.6vw;
    height: 21px;
    height: 3.8vw;
    cursor: pointer;
}

.consult-flow__content {
    width: 86.57%;
    margin: 45px auto;
    margin: 6vw auto;
    margin-bottom: 40px;
    margin-bottom: 5vw;


}

.arrow-down-img > .arrow-down {
    width: 44.5px;
    width: 6vw;
    height: 44.5px;
    height: 6vw;
}

.arrow-down-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    margin-top: 3.4vw;
    margin-bottom: 3.3vw;
}

.consult-flow__bot {
    font-size: 22px;
    font-size: 2.9vw;
    margin-top: 37px;
    margin-top: 4.9vw;
    line-height: 34px;
    line-height: 4.5vw;
}

.consult-flow__bot > .list-header {
    font-size: 22px;
    font-size: 2.9vw;
    line-height: 34px;
    line-height: 4.5vw;

}

.consult-flow__bot ol, ul {
    list-style: decimal;
    padding-left: 20px;
    padding-left: 2.6vw;
}

.consult-flow__footer {
    background-color: #26997E;
    height: 130px;
    height: 17.3vw;
    position: relative;
    border-radius: 0 0 1.333333333vw 1.333333333vw;
}

.consult-flow__footer > .footer-text {
    position: absolute;
    color: #26997E;
    background-color: white;
    border-radius: 50px;
    border-radius: 6.6vw;
    top: 31px;
    top: 4vw;
    right: 236px;
    right: 31vw;
    height: 84px;
    height: 11vw;
    height: 4.2vw;
    width: 200px;
    width: 26.6vw;
    padding: 19px 0px 23px 0px;
    padding: 2.5vw 0 3vw 0;
    font-size: 32px;
    font-size: 4.2vw;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-size: 4.2vw;
}

.consult-flow__footer .footer-img {
    width: 38px;
    width: 5.066666667vw;
}
@media screen and (min-width: 768px) {
    .consult-flow {
        background-color: #F0EFEC;
        margin-top: 45px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 40px;
    }

    .consult-flow__header {
        position: relative;
        background-color: #26997E;
        border-radius: 10px 10px 0 0;
        color: #fff;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 36px;
        position: relative;
        font-size: 20px;
        font-family: "RyoGothicPlusN-Medium";
        line-height: 28px;
    }

    .consult-flow__header:after {
        content: " ";
        position: absolute;
        bottom: -13px;
        border-top: 15px solid #26997E;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: none;
    }

    .consult-flow__header > .txt-big {
        font-size: 34px;
        line-height: 61px;
    }
    .word-wrapper {
        display: flex;
        font-size: 17px;
        line-height: 28px;
        padding: 16px;
        justify-content: center;
    }
    .word-wrapper > .word1 {
        color: #FFFF00;
    }
    .consult-flow__header > .header-img {
        position: absolute;
        top: 56px;
        right: 22px;
        width: 21px;
        height: 21px;
        cursor: pointer;
    }

    .consult-flow__content {
        width: 80%;
        margin: 45px auto 40px;

    }

    .arrow-down-img > .arrow-down {
        width: 32px;
        height: 32px;
    }

    .arrow-down-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 26px;
        margin-bottom: 26px;
    }

    .consult-flow__bot {
        font-family: 'Noto Serif';
        font-size: 14px;
        margin-top: 37px;
        line-height: 28px;
    }

    .consult-flow__bot > .list-header {
        font-family: 'Noto Serif';
        font-size: 14px;
        line-height: 23px;
    }

    .consult-flow__bot ol, ul {
        list-style: decimal;
        padding-left: 20px;
    }

    .consult-flow__footer {
        background-color: #26997E;
        height: 70px;
        position: relative;
        border-radius: 0 0 10px 10px;
    }

    .consult-flow__footer > .footer-text {
        font-family: 'Yu Gothic Medium';
        position: absolute;
        color: #26997E;
        background-color: white;
        border-radius: 50px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 42px;
        width: 100px;
        padding: 0 0 15px 0;
        font-size: 16px;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
    }

    .consult-flow__footer .footer-img {
        width: 18px;
    }
}
@media screen and (min-width: 871px) {
    .consult-flow {
        background-color: #F0EFEC;
        margin-top: 45px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 40px;
    }

    .consult-flow__header {
        position: relative;
        background-color: #26997E;
        border-radius: 10px 10px 0 0;
        color: #fff;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 36px;
        position: relative;
        font-size: 20px;
        font-family: "RyoGothicPlusN-Medium";
        line-height: 28px;
    }

    .consult-flow__header:after {
        content: " ";
        position: absolute;
        bottom: -13px;
        border-top: 15px solid #26997E;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: none;
    }

    .consult-flow__header > .txt-big {
        font-size: 34px;
        line-height: 61px;
    }
    .word-wrapper {
        display: flex;
        font-size: 20px;
        line-height: 28px;
        padding: 16px;
        justify-content: center;
    }
    .word-wrapper > .word1 {
        color: #FFFF00;
    }
    .consult-flow__header > .header-img {
        position: absolute;
        top: 56px;
        right: 22px;
        width: 21px;
        height: 21px;
        cursor: pointer;
    }

    .consult-flow__content {
        width: 80%;
        margin: 45px auto 40px;

    }

    .arrow-down-img > .arrow-down {
        width: 32px;
        height: 32px;
    }

    .arrow-down-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 26px;
        margin-bottom: 26px;
    }

    .consult-flow__bot {
        font-family: 'Noto Serif';
        font-size: 14px;
        margin-top: 37px;
        line-height: 28px;
    }

    .consult-flow__bot > .list-header {
        font-family: 'Noto Serif';
        font-size: 14px;
        line-height: 23px;
    }

    .consult-flow__bot ol, ul {
        list-style: decimal;
        padding-left: 20px;
    }

    .consult-flow__footer {
        background-color: #26997E;
        height: 70px;
        position: relative;
        border-radius: 0 0 10px 10px;
    }

    .consult-flow__footer > .footer-text {
        font-family: 'Yu Gothic Medium';
        position: absolute;
        color: #26997E;
        background-color: white;
        border-radius: 50px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 42px;
        width: 100px;
        padding: 0 0 15px 0;
        font-size: 16px;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
    }

    .consult-flow__footer .footer-img {
        width: 18px;
    }
}

/* Download PDF Section */
.pdf {
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    padding-bottom: 54px;
    padding-bottom: 7.2vw;
}
.pdf__txt-1 {
    font-family: 'Yu Gothic Medium';
    color: #008667;
    padding: 54px 138px 53px 141px;
    padding: 7.2vw 14.8px 7px 19px;
    text-align: center;
    border-radius: 5px;
    border-radius: 0.5vw;
    font-size: 42px;
    font-size: 5vw;
    line-height: 62px;
    line-height: 8.2vw;
}
.pdf__txt-2 {
    font-family: 'Yu Gothic Medium';
    text-align: center;
    font-size: 32px;
    font-size: 4.2vw;
    line-height: 56px;
    line-height: 7.4vw;
}
.pdf-link {
    text-align: center;
    font-size: 32px;
    font-size: 4.2vw;
    line-height: 82px;
    line-height: 11vw;
    padding-bottom: 80px;
    padding-bottom: 10.5vw;
}
.pdf-link__img {
    width: 64px;
    width: 8.5vw;
    height: 64px;
    height: 8.5vw;
}
.pdf__img img {
    width: 64px;
    width: 8.533333333vw;
}
@media screen and (min-width: 768px) {
    .pdf {
        padding-bottom: 0;
    }
    .pdf__txt-1-pc {
        font-family: "Yu Gothic Medium";
        color: black;
        font-size: 16px;
        line-height: 28px;
        text-align: left;
        padding: 50px 0;
        margin: 0 auto;
        max-width: 560px;
    }
    .col-wrapper {
        display: flex;
    }
    .pdf__img-pc{
        width: 32px;
        height: 32px;
        padding:0;
        margin-right:6px;
        margin-left: 40px;
    }
}

/* Consideration Section*/
.consider-point {
    font-family: 'RyoGothicPlusN-Medium';
    font-size: 42px;
    font-size: 5vw;
    margin-top: 93px;
    margin-top: 13vw;
    line-height: 62px;
    line-height: 8vw;
    margin-bottom: 56px;
    margin-bottom: 7vw;
    padding-left:45px;
    padding-left:3.3vw;
    text-align: center;
    color: #008667;
}
.consider-point__img {
    margin-bottom: 86px;
    margin-bottom: 11vw;
    width: 100%;
}
.consider-point__txt-1 {
    font-size: 30px;
    font-size: 4vw;
    line-height: 52px;
    line-height: 7vw;
    margin-bottom: 38px;
    margin-bottom: 1vw;
    color: #008767;
    text-align: center;
}
#mobile-span::before {
    content: "\a";
    white-space: pre;
}
.consider-point__txt-2 {
    font-family: 'RyoGothicPlusN-Medium';
    font-size: 39px;
    font-size: 5vw;
    line-height: 62px;
    line-height: 8vw;
    text-align: center;
    margin-bottom: 42px;
    margin-bottom: 1vw;
    color: #008767;
}
.consider-point__txt-3 {
    font-size: 26px;
    font-size: 3vw;
    line-height: 49px;
    line-height: 6.5vw;
    text-align: center;
    margin-bottom: 60px;
    margin-bottom: 8vw;
}
.consider-img {
    margin-bottom: 41px;
    margin-bottom: 5.5vw;
    width: 100%;
}
.announce-img {
    margin-top: 40px;
    margin-top: 5vw;
    margin-bottom: 70px;
    margin-bottom: 9vw;
    width: 100%;
}

@media screen and (min-width: 758px) {
    .consider-point {
        font-family: 'RyoGothicPlusN-Medium';
        font-size: 38px;
        margin-top: 57px;
        line-height: 62px;
        margin-bottom: 36px;
        color: #008667;
        padding-left: 180px;
        padding-right: 180px;
        text-align: center;
    }
    .consider-point__img {
        margin-bottom: 70px;
        width: 100%;
    }
    .consider-point__txt-1 {
        font-size: 30px;
        line-height: 52px;
        margin-bottom: 38px;
        color: #008767;
        text-align: center;
    }
    #mobile-span::before {
        content: "";
        white-space: pre;
    }
    .consider-point__txt-2 {
        font-size: 30px;
        line-height: 62px;
        text-align: center;
        margin-bottom: 42px;
        color: #008767;
        margin-bottom: 40px;
    }
    .consider-point__txt-3 {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .consider-img {
        margin-bottom: 40px;
        width: 100%;
    }
    .announce-img {
        margin: 10px auto 30px;
        width: 98.508%;
    }
}
/* Consult Line Section */
.consult-line-header {
    font-family: 'Noto Sans';
    font-size: 44px;
    font-size: 5.8vw;
    text-align: center;
    color: #FF1505;
    margin-bottom: 15px;
    margin-bottom: 2vw;
    line-height: 77px;
    line-height: 10vw;
    font-weight: bold;
}
.consult-line-content {
    font-family: "Yu Gothic Medium";
    border: 1px solid #A0A0A0;
    border: 0.133333333vw solid #A0A0A0;
    border-radius: 5px;
    border-radius: 0.666666667vw;
    padding: 32px 0;
    padding: 4.266666667vw 0;
    margin-bottom: 25px;
    margin-bottom: 3.333333333vw;
}
.content-txt-1 {
    font-family: 'Noto Sans';
    font-size: 30px;
    font-size: 4vw;
    line-height: 52px;
    line-height: 7vw;
    text-align: center;
    font-weight: bold;
}
.content-2-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
}
.content-2__img {
    width: 50px;
    width: 6.6vw;
    height: 30px;
    height: 4vw;
    transform: translateY(15px);
    transform: translateY(4vw);
    margin-right: 30px;
    margin-right: 4vw;
}
.content-txt-2 {
    font-size: 52px;
    font-size: 7vw;
    line-height: 91px;
    line-height: 12vw;
    text-align: center;
    color: #FF1505;
    font-weight: bold;
    text-decoration: none;
}
.content-txt-3 {
    font-family: 'Noto Sans';
    font-size: 24px;
    font-size: 3.2vw;
    line-height: 42px;
    line-height: 5.6vw;
    text-align: center;
    font-weight: bold;
}
@media screen and (min-width: 768px) {
    .consult-line-header {
        font-size: 30px;
        text-align: center;
        color: #FF1505;
        margin-bottom: 20px;
        line-height: 52px;
        font-weight: bold;
    }
    .consult-line-content {
        border: 1px solid #A0A0A0;
        border-radius: 5px;
        padding: 32px 0;
        margin-bottom: 25px;
    }
    .content-txt-1 {
        font-size: 26px;
        line-height: 25px;
        text-align: center;
        font-weight: bold;
    }
    .content-2-wrapper {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .content-2__img {
        width: 50px;
        height: 30px;
        transform: translateY(15px);
        margin-right: 30px;
    }
    .content-txt-2 {
        font-size: 35px;
        line-height: 61px;
        text-align: center;
        color: #FF1505;
        font-weight: normal;
    }
    .content-txt-3 {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        font-weight: bold;
    }
}

.precaution-header {
    font-family: "Yu Gothic Medium";
    font-size: 30px;
    font-size: 4vw;
    line-height: 52px;
    line-height: 7vw;
}
.precaution-content {
    font-family: "Yu Gothic Medium";
    font-size: 24px;
    font-size: 2.7vw;
    line-height: 42px;
    line-height: 5.6vw;
}
@media screen and (min-width: 768px) {
    .precaution-header {
        font-size: 18px;
        line-height: 31px;
    }
    .precaution-content {
        font-size: 16px;
        line-height: 28px;
    }
}
/* Footer Date Section*/
.footer-date {
    font-size: 24px;
    font-size: 3.2vw;
    line-height: 21px;
    line-height: 2.8vw;
    text-align: right;
    padding-right: 26px;
    padding-right: 3.4vw;
    margin-bottom:25px;
    margin-bottom:3.3vw;
}
@media screen and (min-width: 768px) {
    .footer-date {
        font-size: 12px;
        line-height: 21px;
        text-align: right;
        margin-bottom:25px;
        padding-right: 0;
    }
}
/* Copy Right Section */
.copy-right {
    font-size: 20px;
    font-size: 2.6vw;
    line-height: 21px;
    line-height: 2.8vw;
    font-family: Arial;
    padding: 60px 0;
    padding:8vw 0;
}
@media screen and (min-width: 768px) {
    .copy-right {
        font-size: 12px;
        line-height: 21px;
        font-family: Arial;
        padding-top:30px;
        padding-bottom: 25px;
    }
}

.rotate-180 {
    transform: rotate(180deg) !important;
    transition-duration: 0.3s;
}
.rotate-neg-180 {
    transform: rotate(-180deg) !important;
    transition-duration: 0.3s;
}
.rotate-0 {
    transform: rotate(0deg) !important;
    transition-duration: 0.3s;
}
