.c_comfortable__header {
    color: #008767;
    margin: 100px 0px 0px 100px;

}
.c_preparation {
    color: #008767;
    margin: 100px 0px 0px 100px;
}

.c_insurance {
    width: 80%;
    height: 100px;
    margin: 100px 0px 0px 100px;
    border: solid 1px gray;
}

.c_imgabout__pc {
    background: white;
    margin: 100px 0px 0px 100px;
}